<div class="row">
  <div class="col-xs-8 col-sm-offset-2">
    <h2>Enregistrer une nouvelle formation</h2>
    <form class="form-group" [formGroup]="formationForm" (ngSubmit)="onSaveFormation()">
      <div class="form-group">
        <label for="school">Ecole</label>
        <input type="text" class="form-control" id="school" formControlName="school" placeholder="Ex: AgroParisTech">
      </div>
      <div class="form-inline">
      <div class ="form-group">
        <div class="input-group">
          <span class="input-group-addon">De</span>
          <input type="text" class="form-control" id="fromYear" formControlName="fromYear" placeholder="Ex: 2017">
        </div>
      </div>
      <div class ="form-group pull-right">
          <div class="input-group">
            <span class="input-group-addon">A</span>
            <input type="text" class="form-control" id="toYear" formControlName="toYear" placeholder="Ex: 2018">
          </div>
      </div>
    </div>     
      <div class="form-group">
          <label for="diplom">Diplome</label>
          <input type="text" class="form-control" id="diplom" formControlName="diplom" placeholder="Ex: Ingénieur">
      </div>
      <div class="form-group">
          <label for="fieldStudies">Domaine d'étude</label>
          <select id="fieldStudies" class="form-control"formControlName="fieldStudies">
            <option>Agronomie</option>
            <option>Biologie</option>
            <option>Chimie</option>
            <option>Economie</option>
            <option>Mathématique</option>
            <option>Physique</option>
            <option>Ressource humaine</option>
            <option>Restauration</option>
          </select>
      </div>
      <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" formControlName="description" placeholder="Description succinte de la formation" style="height: 15em"></textarea>
      </div>
      <div class="form-group">
          <label for="activity">Activitées liées</label>
          <input type="text" class="form-control" id="activity" formControlName="activity" placeholder="Ex: Fottball, Tennis, ...">
      </div>
      <button class="btn btn-success" 
              [disabled]="formationForm.invalid" 
              type="submit">Enregistrer</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>